[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
bs4 = "*"
requests = "*"
m3u8 = "*"
pycryptodome = "*"
psycopg-binary = "*"
psycopg2-binary = "*"
python-dotenv = "*"
fastapi = "*"
uvicorn = "*"

[dev-packages]
pytest = "*"
pylint = "*"

[requires]
python_version = "3.11"
